{% extends "base.html" %} {% block content %}

<div class="container" style="border: solid">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" onclick="home()">Blog</a>
      <small>Favorites</small>
    </div>
  </nav>
</div>

<div class="row" style="margin-top: 3cap">
  <div class="col-4">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">Tags:</div>
        <div class="col-6">
          <button
            type="button"
            class="btn-close"
            aria-label="Close"
            onclick="resterUrl()"
          ></button>
        </div>
      </div>
      <div
        id="list-tab"
        style="
          max-height: 40vw;
          min-height: 5vw;
          overflow-y: auto;
          border: solid;
          border-width: 0.2cap;
        "
      >
        {% for topic_type in topic_types %}
        <div style="border: solid">
          <a
            class="list-group-item list-group-item-action"
            id="{{ topic_type.name }}"
            onclick="updateURL({{topic_type.id}})"
          >
            {{ topic_type.name }}
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
    
  </div>
  <div class="col-8">
    <div
      id="nav-tabContent"
      style="
        max-height: 600px;
        margin-right: 2cap;
        overflow-y: scroll;
        border: solid;
        border-width: 0.2cap;
      "
    >
      {% for topic in topics %}
      <div
        class="card-body container-sm"
        style="
          border: solid;
          width: auto;
          border-width: 0.1cap;
          margin: 0.4cap;
          padding: 0.5cap;
        "
      >
        <h5 class="card-title">{{topic.name}}</h5>
        <small class="right">3 days ago</small>
        <p class="card-text">{{topic.description}}</p>
        <a onclick="open_topic({{topic.id}})" class="btn btn-outline-primary"
          >Open</a
        >
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<script>
    // Get the text from the URL parameters
    const urlParams = new URLSearchParams(window.location.search);
    const user = urlParams.get("user");
    const pass = urlParams.get("pass");
    function home(){
        const baseUrl = window.location.origin;
        const newURL = `${baseUrl}/?user=${user}&pass=${pass}`;
    
        window.location.href = newURL;
    
      }
    function updateURL(type) {
      // Get the current URL
  
  
      // Construct the new URL
      
      const baseUrl = window.location.origin;
      const newURL = `${baseUrl}/favorites/?user=${user}&pass=${pass}&type=${type}`;
  
      // Redirect to the new URL
      window.location.href = newURL;
    }
    function resterUrl(){
  
  
      // Construct the new URL
      
      const baseUrl = window.location.origin;
      const newURL = `${baseUrl}/favorites/?user=${user}&pass=${pass}`;
  
      // Redirect to the new URL
      window.location.href = newURL;
    }
    function open_topic(type_id){
  
      
      // Construct the URL without encoding
      const url = `?user=${user}&pass=${pass}`;
      const baseUrl = window.location.origin;
      const newUrl = `${baseUrl}/topic/${url}&topic=${type_id}`
      window.location.href = newUrl;
    }
  </script>

  {% endblock %}

