{% extends "base.html" %} {% block content %}

<div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            
            <a class="navbar-brand">{{topic.name}}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page">{{topic.type_id}}</a>
                  </li>
                </ul>
                  <button class="btn btn-outline-success" type="submit">Favorite</button>
            </div>
        </div>
    </nav>
    <!--See description-->
    <div class="col-11">
        <div class="form-floating">
            <textarea class="form-control disabled" placeholder="description" id="floatingTextarea2" style="height: auto; resize: none;" readonly>
                {{topic.description}}
            </textarea>
            
          </div>
    </div>
    <!-- See comments -->
    <div class="col-12">
        <div id="nav-tabContent" style="max-height: 600px; margin-right: 2cap; overflow-y: scroll;overflow-x: auto; border: solid; border-width:0.2cap;">
            {%for comment in comments%}
            <div class="card-body container-sm" style = "border: solid;width: auto ; border-width:0.1cap; margin: 0.4cap; padding: 0.5cap;">
              <div class="row col-11">
                <div class="col-10" style="display: flex;
                flex-direction: row; align-items: center;"><h5 class="card-title">{{comment.user_id}}</h5></div>
                <div class="col-2">

                        <small class="right">{{comment.timestamp}}</small>

                    
                </div>
              </div>   
              <div class = "col-8">
                <p class="card-text">{{comment.body}}</p>
              </div>
              
            </div>
            {% endfor %}
            
          </div>
    </div>
    <!-- write comment -->
    <div class="col-11">
        <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 50px; resize: none;" ></textarea>
            <label for="floatingTextarea2">Write Comment</label>
          </div>
    </div>
</div>



{% endblock %}